IO_LOC  "teclado[0]" 29;
IO_PORT "teclado[0]" PULL_MODE=DOWN;

IO_LOC  "teclado[1]" 28;
IO_PORT "teclado[1]" PULL_MODE=DOWN;

IO_LOC  "teclado[2]" 27;
IO_PORT "teclado[2]" PULL_MODE=DOWN;

IO_LOC  "teclado[3]" 26;
IO_PORT "teclado[3]" PULL_MODE=DOWN;

IO_LOC  "lcd_resetn" 25;
IO_PORT "lcd_resetn" PULL_MODE=DOWN;

IO_LOC  "lcd_clk" 34;
IO_PORT "lcd_clk" PULL_MODE=UP;

IO_LOC  "lcd_cs" 37;
IO_PORT "lcd_cs" PULL_MODE=UP;

IO_LOC  "lcd_rs" 36;
IO_PORT "lcd_rs" PULL_MODE=UP;

IO_LOC  "lcd_data" 35;
IO_PORT "lcd_data" PULL_MODE=UP;

IO_LOC  "ser_tx" 17;
IO_PORT "ser_tx" PULL_MODE=UP;

IO_LOC  "ser_rx" 18;
IO_PORT "ser_rx" PULL_MODE=UP;

IO_LOC  "clk" 52;
IO_PORT "clk" PULL_MODE=UP;

IO_LOC  "resetn" 30;
IO_PORT "resetn" PULL_MODE=DOWN;

IO_LOC  "spi_sck" 34;
IO_PORT "spi_sck" PULL_MODE=UP;

IO_LOC  "spi_mosi" 35;
IO_PORT "spi_mosi" PULL_MODE=UP;

IO_LOC  "spi_miso" 36;
IO_PORT "spi_miso" PULL_MODE=UP;

IO_LOC  "spi_cs" 37;
IO_PORT "spi_cs" PULL_MODE=UP;
