IO_LOC  "out_D" 82;
IO_PORT "out_D" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "out_C" 83;
IO_PORT "out_C" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "out_B" 84;
IO_PORT "out_B" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "out_A" 85;
IO_PORT "out_A" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "d" 81;
IO_PORT "d" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "c" 80;
IO_PORT "c" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "key" 79;
IO_PORT "key" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "clk" 52;
IO_PORT "clk" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "rst" 25;
IO_PORT "rst" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;
