IO_LOC  "count[1]" 30;
IO_PORT "count[1]" IO_TYPE=LVCMOS33;

IO_LOC  "count[0]" 29;
IO_PORT "count[0]" IO_TYPE=LVCMOS33;

IO_LOC  "out_D" 82;
IO_PORT "out_D" DRIVE=8;

IO_LOC  "out_C" 83;
IO_PORT "out_C" DRIVE=8;

IO_LOC  "out_B" 84;
IO_PORT "out_B" DRIVE=8;

IO_LOC  "out_A" 85;
IO_PORT "out_A" DRIVE=8;

IO_LOC  "d" 26;
IO_PORT "d" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "c" 27;
IO_PORT "c" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "key" 28;
IO_PORT "key" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "clk" 52;
IO_PORT "clk" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "rst" 25;
IO_PORT "rst" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;
