IO_LOC  "d2" 27;
IO_PORT "d2" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "d3" 28;
IO_PORT "d3" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "y" 10;
IO_PORT "y" DRIVE=8 IO_TYPE=LVCMOS18;

IO_LOC  "d0" 25;
IO_PORT "d0" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "d1" 26;
IO_PORT "d1" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "s[0]" 29;
IO_PORT "s[0]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "s[1]" 30;
IO_PORT "s[1]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;
