IO_LOC  "conta[0]" 10;
IO_PORT "conta[0]" DRIVE=8 IO_TYPE=LVCMOS18;

IO_LOC  "conta[1]" 11;
IO_PORT "conta[1]" DRIVE=8 IO_TYPE=LVCMOS18;

IO_LOC  "conta[2]" 13;
IO_PORT "conta[2]" DRIVE=8 IO_TYPE=LVCMOS18;

IO_LOC  "conta[3]" 14;
IO_PORT "conta[3]" DRIVE=8 IO_TYPE=LVCMOS18;

IO_LOC  "conta[4]" 15;
IO_PORT "conta[4]" DRIVE=8 IO_TYPE=LVCMOS18;

IO_LOC  "conta[5]" 16;
IO_PORT "conta[5]" DRIVE=8 IO_TYPE=LVCMOS18;

IO_LOC  "EN_b" 3;
IO_PORT "EN_b" PULL_MODE=UP;

IO_LOC  "rst" 25;
IO_PORT "rst" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "clk" 52;
IO_PORT "clk" IO_TYPE=LVCMOS33 PULL_MODE=UP;
