IO_LOC  "c_trabajo[2]" 27;
IO_PORT "c_trabajo[2]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "c_trabajo[3]" 28;
IO_PORT "c_trabajo[3]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "pwm_out" 10;
IO_PORT "pwm_out" DRIVE=8 IO_TYPE=LVCMOS18;

IO_LOC  "c_trabajo[0]" 25;
IO_PORT "c_trabajo[0]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "c_trabajo[1]" 26;
IO_PORT "c_trabajo[1]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "rst" 29;
IO_PORT "rst" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "clk" 52;
IO_PORT "clk" IO_TYPE=LVCMOS33 PULL_MODE=UP;
