IO_LOC  "leds[6]" 79;
IO_PORT "leds[6]" DRIVE=8;

IO_LOC  "leds[5]" 80;
IO_PORT "leds[5]" DRIVE=8;

IO_LOC  "leds4]" 81;
IO_PORT "leds4]" DRIVE=8;

IO_LOC  "leds[3]" 82;
IO_PORT "leds[3]" DRIVE=8;

IO_LOC  "leds[2]" 83;
IO_PORT "leds[2]" DRIVE=8;

IO_LOC  "leds[1]" 84;
IO_PORT "leds[1]" DRIVE=8;

IO_LOC  "leds[0]" 85;
IO_PORT "leds[0]" DRIVE=8;

IO_LOC  "resetn" 4;
IO_PORT "resetn" PULL_MODE=UP;

IO_LOC  "lcd_data" 77;
IO_PORT "lcd_data" PULL_MODE=UP;

IO_LOC  "lcd_rs" 49;
IO_PORT "lcd_rs" PULL_MODE=UP;

IO_LOC  "lcd_cs" 48;
IO_PORT "lcd_cs" PULL_MODE=UP;

IO_LOC  "lcd_clk" 76;
IO_PORT "lcd_clk" PULL_MODE=UP;

IO_LOC  "lcd_resetn" 47;
IO_PORT "lcd_resetn" PULL_MODE=UP;

IO_LOC  "key_detect" 16;
IO_PORT "key_detect" DRIVE=8;

IO_LOC  "count[0]" 29;

IO_LOC  "count[1]" 30;

IO_LOC  "key" 28;
IO_PORT "key" PULL_MODE=DOWN;

IO_LOC  "c" 27;
IO_PORT "c" PULL_MODE=DOWN;

IO_LOC  "d" 26;
IO_PORT "d" PULL_MODE=DOWN;

IO_LOC  "rst" 25;
IO_PORT "rst" PULL_MODE=DOWN;

IO_LOC  "clk" 52;
IO_PORT "clk" PULL_MODE=UP;

IO_LOC  "tx" 37;
IO_PORT "tx" PULL_MODE=UP;

IO_LOC  "rx" 38;
IO_PORT "rx" PULL_MODE=UP;
